In [1]:
# ------------------------------ UNDERSTANDING TUPLES  ------------------------------
# Tuples are immutable sequences in Python.
# Denoted by parentheses () [Optional – commas are sufficient].

In [2]:
#  ------------------------------ Properties of Tuples: ------------------------------
# 1. Ordered Elements & have Defined Index.
# 2. Immutable – Once Created, cannot be modified (no add, alter, or delete).
# 3. Allows Duplicates.
# 4. Heterogeneous – can store multiple data structures.

In [3]:
#1. Converting a list into a tuple: -
lst = [2, 4, 6]

tup = tuple(lst)
print("Tuple from list:", tup)

Tuple from list: (2, 4, 6)

In [4]:

# Creating a tuple without parentheses (comma is mandatory)
tup = 2, 4, 6

print("Tuple without parentheses:", tup)
print("Type:", type(tup))

Tuple without parentheses: (2, 4, 6)
Type: <class 'tuple'>

In [8]:
# Converting a string into a tuple
string = "hello"

hello_tup = tuple(string)
print("Tuple from string:", hello_tup)

# Indexing in tuple
print("Second element:", hello_tup[1])

Tuple from string: ('h', 'e', 'l', 'l', 'o')
Second element: e

In [7]:
# Tuple concatenation and repetition
tup_1 = (1, 2, 3)
tup_2 = (4, 5, 6)

tuple_concat = (tup_1 + tup_2) * 3
print("Concatenated and repeated tuple:", tuple_concat)

# Repeating a tuple
print("Repeated tuple:", tup_1 * 3)

Concatenated and repeated tuple: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
# ------------------------ TUPLE METHODS ------------------------------

#I] count(): Returns the number of occurrences of a value
count = tuple_concat.count(3)
print("Count of 3:", count)

#II] index(): Returns the first index of a value (can provide start index)
index = tuple_concat.index(6, 6)
print("Index of 6 (starting from pos 6):", index)

#III] len(): Returns the length of a tuple
print("Length of tuple_concat:", len(tuple_concat))

Count of 3: 3
Index of 6 (starting from pos 6): 11
Length of tuple_concat: 18

In [10]:
# ----------------------- TUPLE UNPACKING ------------------------------
tuple_example = ("rahul", 30, "SDE")

name, age, prof = tuple_example
print("Name:", name)
print("Age:", age)
print("Profession:", prof)

Name: rahul
Age: 30
Profession: SDE

In [11]:
# ------------------- FUNCTION RETURNING TUPLE -------------------------
def person_details():
    """Returns a tuple of person details"""
    return ("Aryan Jaiswal", 25, "SDE", "PayPal")


name, age, prof, company = person_details()
print(f"Name: {name}, Age: {age}, Profession: {prof}, Company: {company}")

Name: Aryan Jaiswal, Age: 25, Profession: SDE, Company: PayPal