In [2]:
## WORKING WITH LOOPS:

# [I]: FOR LOOP: -

In [3]:
for i in range(14, 4, -1):
    print(i)

14
13
12
11
10
9
8
7
6
5

In [4]:
# Step used for increment
for i in range(14, 4, -2):
    print(i)

14
12
10
8
6

In [5]:
# FINDING THE FACTORIAL OF NUMBER: -
p = 1
for i in range(1, 10):
    p *= i
print(p)

362880

In [6]:
# Q1. Print all even numbers from 1 to 20 using for and range()?
for p in range(1, 21):
    if p % 2 == 0:
        print(p)

2
4
6
8
10
12
14
16
18
20

In [7]:
# Q2: Find the sum of numbers from 1 to 50?
total = 0
for p in range(1, 51):
    total += p
print(f"The sum of numbers from 1 to 50 is: {total}")

The sum of numbers from 1 to 50 is: 1275

In [8]:
# Q3. Print the multiplication table of 7?
n = 7
for a in range(1, 11):
    i = n * a
    print(f"7 * {a} = {i}")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [9]:
# Q4. Print numbers from 10 down to 1 (reverse loop)?
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [18]:
# Q5. Ask the user for a number. Print whether it is odd/even and also if it is divisible by 5?
user_input = int(input("Enter a Number: "))

# Check if even or odd
if user_input % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

# Check if divisible by 5
if user_input % 5 == 0:
    print("Divisible by 5")

Even Number
Divisible by 5

In [ ]:
# Q6: Ask for a year and check if it’s a leap year?
user_input = int(input("Enter a Year: "))

if user_input % 4 == 0:
    if user_input % 100 == 0:
        if user_input % 400 == 0:
            print("Leap Year")  
        else:
            print("Not Leap")   
    else:
        print("Leap")           
else:
    print("Not Leap")

Enter a Year:  2024

Leap

In [ ]:
# Q7: Ask user for two numbers and an operator (+, -, *, /). Perform the calculation?
num1 = float(input("Enter First Number: "))
operator = input("Choose an Operator [+, -, *, /]: ")
num2 = float(input("Enter First Number: "))
answer = 0

if operator == '+':
    answer = num1 + num2
elif operator == '-':
    answer = num1 - num2
elif operator == '*':
    answer = num1 * num2
else:
    answer = num1 / num2
print(f"The Answer is {num1}{operator}{num2} = {answer}")

Enter First Number:  50
Choose an Operator [+, -, *, /]:  /
Enter First Number:  2

The Answer is 50.0/2.0 = 25.0

In [ ]:
# Q8: Print all odd numbers between a range given by user?
user_input = int(input("Enter a Range: "))
for num in range(user_input):
    if num % 2 != 0:
        print(num)

Enter a Range:  20

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Q9: Count how many numbers between 1–100 are divisible by both 3 and 5?
a = []
for num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        a.append(num)
        print(num)
print(f"Total Numbers divisible by both 3 & 5 are: {len(a)}")

15
30
45
60
75
90
Total Numbers divisible by both 3 & 5 are: 6

In [ ]:
# Q10. Print squares of numbers from 1 to 10.?
a = 0
for num in range(1, 11):
    a = num ** 2
    print(a)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Q11: Print the first 10 multiples of 5 in one line?
num = []

for multiples in range(1, 11):
    a = multiples * 5
    num.append(a)
print(num)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# Q12. Calculate factorial of a user given number?
user_input = int(input("Enter a Number:  "))
factorial = 1

for number in range(1, user_input + 1):
    factorial *= number
print(factorial)

Enter a Number:   10

3628800

In [ ]:
# Q13. Print numbers divisible by 7 between 50 and 100?
for number in range(50, 101):
    if number % 7 == 0:
        print(number)

56
63
70
77
84
91
98

In [ ]:
# Q14. If account balance = 5000, ask withdrawal amount. If withdrawal > balance → "Insufficient balance". Otherwise, show new balance?

account_balance = 5000
print(f"Available Balance: Rs.{account_balance}")

withdrawal_amt = int(input("Enter the Amount you want to Withdraw: Rs. "))
if withdrawal_amt > account_balance:
    print("Insufficient Funds!!")
else:
    account_balance -= withdrawal_amt
    print(f"Withdrawal successful. New balance: Rs.{account_balance}")

Available Balance: Rs.5000

Enter the Amount you want to Withdraw: Rs.  4000

Withdrawal successful. New balance: Rs.1000

In [ ]:
# Q15. Take marks of 3 subjects, calculate percentage, and assign result. ≥ 90 → Excellent, 75–89 → Good, 50–74 → Average, Below 50 → Fail?
sub1 = float(input("Enter Marks Obtained [out of 100]: "))
sub2 = float(input("Enter Marks Obtained [out of 100]: "))
sub3 = float(input("Enter Marks Obtained [out of 100]: "))

total_marks_obtained = sub1 + sub2 + sub3
percentage = round((total_marks_obtained / 300) * 100, 2)

if percentage >= 90.00:
    print("Excellent")
elif percentage >= 75.00:
    print("Good")
elif percentage >= 50.00:
    print("Average")
else:
    print("Fail")

Enter Marks Obtained [out of 100]:  80
Enter Marks Obtained [out of 100]:  50
Enter Marks Obtained [out of 100]:  30

Average

In [11]:
# NEW CLASS:
# Nested Loops - Putting one loop inside another loop

In [12]:
for i in range(5):
    print(i)
    for j in range(5):
        print(j)

0
0
1
2
3
4
1
0
1
2
3
4
2
0
1
2
3
4
3
0
1
2
3
4
4
0
1
2
3
4

In [13]:
# Multiplication Table

for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [14]:
# While Loop - Keeps running until a condition is true or false

c = 1
while c <= 5:
    print(f"Count is: {c}")
    c += 1

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

In [1]:
# Q1: Print a square pattern of star 5 * 5?

for i in range(5):
    for j in range(5):
        print("*", end= " ")
    print("*")

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
word = "python"

for letter in word:
    if letter != "t":
        print(letter)

p
y
h
o
n